
<main>
  <section class="collections mt-5">
    <div class="container">
      <h1 class="display-3 text-center">Our Collections</h1>
      <hr />
      <div class="grid-container">
        <div class="grid card mt-5" style="width: 18rem">
          <img
            src="img/funko.png"
            class="card-img-top"
            alt="funko-figure"
          />
          <div class="card-body">
            <h5 class="card-title">Funko Pop</h5>
            <hr />
            <div class="p-1">
              <p class="card-text mb-0">
                Funko MOFO representing the neighbourhood, yo yo.
              </p>
              <span class="d-block price py-2">$20.00</span>
            </div>
            <a href="#" class="btn btn-black w-100 rounded-5"
              >Add To Cart</a
            >
          </div>
        </div>
        <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>

          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>

          <div class="grid card mt-5" style="width: 18rem">
            <img
              src="img/funko.png"
              class="card-img-top"
              alt="funko-figure"
            />
            <div class="card-body">
              <h5 class="card-title">Funko Pop</h5>
              <hr />
              <div class="p-1">
                <p class="card-text mb-0">
                  Funko MOFO representing the neighbourhood, yo yo.
                </p>
                <span class="d-block price py-2">$20.00</span>
              </div>
              <a href="#" class="btn btn-black w-100 rounded-5"
                >Add To Cart</a
              >
            </div>
          </div>
      </div>
    </div>
  </section>
</main>