
    <main>
      <section class="mt-5">
        <div class="container">
          <div class="row detail-funko align-items-center justify-content-between">
            <div class="col-4 p-0">
              <img class="card-img-detail w-100" src="img/funko.png" />
            </div>
            <div class="col-8 p-5">
              <h1 class="display-5">Funko Name</h1>
              <hr>
              <p class="my-1"><strong>Price</strong></p>
              <span class="d-block mb-2">$10.00</span>
              <p class="my-1"><strong>Quantity</strong></p>
              <input class="form-control my-2" type="number" min="1" max="99" value="1">
              <p class="my-1"><strong>Category</strong></p>
              <p>Name</p>
              <p class="my-1"><strong>Description</strong></p>
              <p>A true original! Marvel’s Pop! Spider-Man Miles Morales is ready for action in his Classic Suit! There's a 1 in 6 chance you may find the chase variant of Miles without his mask. Vinyl bobblehead is approximately 4.15-inches tall. </p>
              <a name="addToCart" id="" class="btn btn-black btn-lg w-100" href="#" role="button">Add to Cart</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    
