<main>
  <section class="profile-dashboard">
    <div class="container mt-5">
      <div class="row">
        <h1 class="display-6 text-center">Orders</h1>
        <hr />
        <div class="col-3 profile-dashboard-links text-center">
          <a
            href="#"
            class="profile-dashboard-link my-1 p-2 text-decoration-none"
            >Profile</a
          >
          <a
            href="#"
            class="profile-dashboard-link my-1 p-2 link-active text-decoration-none"
            >Orders</a
          >
          <a
            href="#"
            class="profile-dashboard-link my-1 p-2 text-decoration-none"
            >Settings</a
          >
        </div>
        <div class="col-9 pt-1">
          <table class="table text-center">
            <thead class="table-dark">
              <tr>
                <th>Order #</th>
                <th>Item Image</th>
                <th>Order Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>104</td>
                <td><img class="order-img" src="img/funko.png" alt=""></td>
                <td>Funko Pop</td>
                <td>$100.00</td>
                <td>1</td>
                <td>Shipped</td>
                <td><a href="#" class="btn btn-black">Request Cancelation</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>