<main>
  <section class="profile-dashboard">
    <div class="container mt-5">
      <div class="row">
        <div class="col-3 profile-dashboard-links text-center">
          <a href="#" class="profile-dashboard-link my-1 p-2 link-active text-decoration-none">Profile</a>
          <a href="#" class="profile-dashboard-link my-1 p-2 text-decoration-none">Orders</a>
          <a href="#" class="profile-dashboard-link my-1 p-2 text-decoration-none">Settings</a>
        </div>
        <div class="col-9">
          Profile
          <hr>
        </div>
      </div>
    </div>
  </section>
</main>
